body {
    font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "DM Serif Display", serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.btn-primary {
    /*background-color: #12b680;*/
    /*border-color: #12a977;*/
    background-color: #11ab78;
    border-color: #109b6d;
    color: #fff;

}

.btn-primary:hover {
    background-color: #0f9e6f;
    border-color: #0f9e6f;
    color: #fff;
}

.btn-outline-primary {
    color: #0e9a6c;
    border-color: #0e9a6c;
}

.btn-outline-primary:hover {
    border-color: #0e9a6c;
    background-color: #0f9e6f;

}

.btn-secondary {
    background-color: #ff914d;
    border-color: #ec8647;
}

.btn-secondary:hover {
    background-color: #e58447;
    border-color: #df7e42;
}

.btn-outline-secondary {
    border-color: #df7e42;
    color: #df7e42;
}

.btn-outline-secondary:hover {
    background-color: #d3753a;
    border-color: #d3753a;
    color: #fff;
}

.chip {
    background-color: #f3f3f3;
    padding: 3px 10px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 12px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.45px 1.45px 2.4px;
}

.chip:hover {
    background-color: #eaeaea;
    box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 2px;
}

.resource-img {
    object-fit: scale-down;
    width: 100%;
    max-height: 250px;
    padding: 16px 0 16px 16px;
}

.card {
    width: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card-description {
    max-height: 250px;
}

.resource-img:hover {
    cursor: pointer;
}

.nav-item {
    font-family: "Inter", sans-serif;
    font-size: 18px;
}

/*  Log In Form */

#log-in-form, #sign-up-form, #resource-form {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px 40px;
}

.flex-row-center-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

